Source: ros-kilted-ros2plugin
Section: misc
Priority: optional
Maintainer: Jeremie Deray <jeremie.deray@canonical.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-kilted-ament-copyright <!nocheck>, ros-kilted-ament-flake8 <!nocheck>, ros-kilted-ament-pep257 <!nocheck>, ros-kilted-ament-xmllint <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-ros2plugin
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-kilted-ament-index-python, ros-kilted-rclpy, ros-kilted-ros2cli, ros-kilted-ros2pkg, ros-kilted-ros-workspace
Description: The plugin command for ROS 2 command line tools.
